.nav-link-style {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #000;
    transition: all 0.2s ease-in-out;
}

.nav-link-style:hover {
    color: #007bff;
    text-decoration: none;
}

.body-container {
    background-color: #f8f9fa;
    padding: 20px;
}
