
.App-header {
    
  background-color: white;
  text-align: center;
  height: 10vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 99999;
  

}
#home:hover{
color: aqua;
}
#ul-nb{
list-style: none;
margin: 0px;
padding: 0px;
background-color: #333;
overflow: hidden;
}
#ul-nb li{
float: left;
}
#ul-nb li a{

display: block;
text-align: center;
text-decoration: none;
color: antiquewhite;
padding: 14px 16px;
}
#ul-nb li a:hover{
color: black;
background-color: white;
}
#ul-nb li:hover{
background-color: burlywood;
color: green;
}
#button{
float: right;
background-color: white;
width: 200px;
height: 50px;
margin-top:10px;
margin-right: 10px;
font-weight: bolder;
}
#button:hover{
background-color: lightgrey;
}